/**
 *
 */

@import url('http://bucket.gomiyama.com.s3.amazonaws.com/fonts/bariol/style.css');
@import url('http://bucket.factful-planet.com.s3.amazonaws.com/fonts/octicons/style.css');

a:link, a:hover, a:visited, a:active {
	text-decoration: none;
	color: #ec008c;
}

html, body {
    background: url('http://data.musichastherighttochildren.com.s3.amazonaws.com/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    font: 16px/22px "Bariol Regular", Arial, Helvetica, sans-serif;
	text-shadow: 2px 2px 4px #000000;
    color: white;
    padding: 0;
    margin: 0;
}

.octoface:before {
	font-family: 'Octicons';
	content: "\f008";
}

#footer {
	float: left;
	background: -moz-linear-gradient(center top , #373737, #212121) repeat scroll 0 0 transparent;
	width: 90%;
	height: 3em;
	margin: 1em;
    border-radius: 1em;
	padding-top: 1em;
	text-align:center;
}

#header {
    padding: 20px;
	width: 90%;
}

td {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 0.2em;
    }

#logo {
	width: 800px;
	margin: auto;
	padding-top: 1em;
}

#content {
	display: block;
    padding: 20px;
}

#menu {
	width: 15em;
	margin: auto;
}

.button {
	background: blue;
	border-radius: 5px;
}

h1, h2, h3, h4, h5, h6 {
	color: white;
	font-family: "Bariol Light";
	font-weight: normal;
	text-shadow: 2px 2px 4px #000000;
}

#header h1 {
	font-size: 72px;
}

h2 {
	margin-top: 0.1em;
	font-size: 60px;
}

#title {
	width: 24em; margin: auto; text-align:center;
	text-shadow: 0 0 10px #111111;
}

#menu-left {
	float: left;
	width: 25%;
	background: white;
}

#menu-right {
	float: right;
	width: 25%;
	background: white;
}

#map {
	margin: auto;
	width: 50%;
	float: left;
	background: white;
}

.axis text {
  font: 10px sans-serif;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
