<!doctype html>
<html lang="en" ng-app="MHtRtC" ng-controller="MHtRtCController">

<head>
	<title>Music Has the Right to Children</title>
	<link rel="stylesheet" href="/css/site.css" media="screen"/>
	<link rel="icon" href="http://data.musichastherighttochildren.com.s3.amazonaws.com/music-has-the-right-to-children.ico">
	<link href="/css/angular-ui.min.css" type="text/css" rel="stylesheet"/>
	<meta name="description" content="Music Has the Right to Children" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
	<meta name="keywords" content="Music Has the Right to Children" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />	 
</head>

<body>

<div id="content">

</div>

<!-- Bunch of scripts. -->
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular.js"></script>
<script type="text/javascript" src="/js/controller.js"></script>

</body>
</html>
